<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Card.css">
    <title>Document</title>
</head>
<body>
    

<div class="container">
            <div class="">
              <div class=" ">
                <img class="project-image" src="../../../public/images/pata-dp.png" alt=""/>
              </div>
              <div class="flex justify-center px-5  -mt-12">
              </div>
              <div class=" ">
                <div class="text-center px-14">
                  <h2 class="project-title text-gray-800 text-3xl font-bold">{name}</h2>
                  <p class="text-gray-400 mt-2"></p>
                  <p class="project-description mt-2 text-gray-600">{description}, </p>
                </div>
                <hr class="mt-6"/>
                <div class="flex  bg-gray-50 ">
                  <div class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer">
                    <p>
                      <a href={gitHubLink}class="font-semibold">
                        GitHub Repo
                      </a>
                    </p>
                  </div>
                  <div class="border"></div>
                  <div class="text-center w-1/2 p-4 hover:bg-gray-100 cursor-pointer">
                    <p>
                      <a href={deployedApp}class="font-semibold">
                        Deployed App
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </body>
</html>