/* ./src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

.cursive{
  font-family: "Inconsolata", cursive;
  font-weight: 700;
}

.home-title {
  font-size: 150px;
}